<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->
	{%block custom_meta%}
	<meta content="{{keywords|join(',')}}" name="keywords" />

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<meta content="{{description}}" name="description" />
	<title>{{name}}</title>
	<meta property="og:url" content="{{url}}" />
	<meta property="og:title" content="{{name}}"/>
	<meta property="og:description" content="{{description}}" name="description"/>
	<meta property="og:image" content="{{imgURL}}"/>
	<meta property="og:image:height" content="{{imgHeight}}"/>
	<meta property="og:image:width" content="{{imgWidth}}"/>	
	<meta name="twitter:card" content="summary_large_image">

	<meta name='parsely-page' id='parsely-page' content='{"title": "{{name}}", "link": "{{url}}", "image_url": "{{imgURL}}", "type": "post", "post_id": "{{id}}", "pub_date": "{{publishDate}}", "section": "{{section}}", "author": ["{{authors}}"], tags": ["{{keywords|join('","')}}"]}'/>

	<meta property="og:keywords" content="{{keywords|join(',')}}"/>

	<meta name='news_keywords' content="{{keywords|join(',')}}"/>
	{%endblock%}
	<!-- End Custom Meta Data -->
	
	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>

	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	

	<link rel="stylesheet" type="text/css" href="http://interactives.templates.statics.s3.amazonaws.com/v1.0/css/print.css" media="print"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic%7CMerriweather:400,400italic' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-styles.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	  <script type="text/javascript">
	    WebFont.load({
	      google: { //change custom to google: if using google cdn font
	        families: ['Open+Sans', 'Merriweather'],
	      }
	    });

	</script> 
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Bundled dependencies -->
	<link rel="stylesheet" type="text/css" href="static/css/dependency-bundle.css" />
	
	<!-- -->

	<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
	{%block custom_head%}
	{%endblock%}

	

	<!--
	================================
	START AD CODE
	================================
	-->

	<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
	<script type="text/javascript">
	DFP_networkId = "11222444";
	var DFPSlotSizes = [];
	if (jQuery(window).width() < 768)
	{
	var DFP_sitepage = "m.DMN/interactives";
	DFPSlotSizes = [320,50]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "x01");
	adSlot0.addService(googletag.pubads());
	
	/*
	var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
	adSlot1.setTargeting("position", "x02");
	adSlot1.addService(googletag.pubads());
	*/
	
	/*
	var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
	adSlot2.setTargeting("position", "x03");
	adSlot2.addService(googletag.pubads()); 
	*/
	}
	else
	{
	var DFP_sitepage = "DMN/interactives";
	 DFPSlotSizes = [728,90]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "Top");
	adSlot0.addService(googletag.pubads());
	
	/*
	var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
	adSlot1.setTargeting("position", "Top");
	adSlot1.addService(googletag.pubads());
	*/
	
	/*
	var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
	adSlot2.setTargeting("position", "Top");
	adSlot2.addService(googletag.pubads());
	*/
	 }
	</script>
	<script type="text/javascript">
	googletag.pubads().enableSingleRequest();
	googletag.pubads().enableSyncRendering();
	googletag.enableServices();
	</script>

	<!--
	================================
	END AD CODE
	================================
	-->

</head>
<body>

	<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-header.js"></script>
    
	<article id="content">

	{%block content%}

		<section id="contentHeader">
			<img src="images/defaultImage.jpg" alt="FILL THIS IN">
			<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
		</section>
		<!-- end contentHeader -->

		<section class="contentWell clearFix">

			<header id="storyHead">
				<h3>Label, if needed</h3>
				<h1>Main Headline</h1>
				<h2>Deck head goes in this spot here</h2>
			</header>
				<!-- end storyHead -->

			<div class="bylineBlock">
	    		<p>By <a target="blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
	    		<p>Published Month Date, Year</p>
   			</div>
    		<!-- end bylineBlock -->

      		<div class="shareComments shareCommentsTop">	
				<ul id="share-bar1" class="width-auto-hack"></ul>
			</div>        		
			<!-- end shareComments -->



			<p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum tortor a eleifend sagittis. Quisque laoreet elit vitae turpis aliquet tincidunt. Nulla molestie vitae purus eget dignissim. Quisque blandit nibh lorem, non mollis velit rutrum ac. Pellentesque pharetra mattis luctus.</p>



			<section class="credits clearFix">
				<p>Author: <a href="mailto:emailaddress">Name</a></p>
				<p>Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Photos: <a href="mailto:emailaddress">Name</a></p>
				<p>Graphics: <a href="mailto:emailaddress">Name</a></p>
				<p>Designer: <a href="mailto:emailaddress">Name</a></p>
			</section>
			<!-- end credits -->

			<section class="more clearFix">
				<h5>More from The Dallas Morning News</h5>
				<a class="clearFix" href="#">
					<img src="images/defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearFix" href="#">
					<img src="images/defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearFix" href="#">
					<img src="images/defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
			</section>
			<!-- end more -->

      		<div class="shareComments">   		
				<ul id="share-bar2" class="width-auto-hack"></ul>
                <div id="comments"></div>
			</div>
			<!-- end shareComments -->

		</section>
		<!-- end contentWell -->

	{%endblock%}

	</article>

	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-footer.js"></script>
  	<script src="static/js/dependency-bundle.js"></script>
	<script type="text/javascript" src="static/js/scripts.js"></script>


	{%block custom_foot%}
	{%endblock%}


	<!-- Gigya -->
	<!-- Can this be included when initialized? -->
	{%raw%}
	<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
		{
			lang : 'en',
			enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
			connectWithoutLoginBehavior: 'alwaysLogin'
		}			
	</script>
	<!-- Gigya Templates -->
	<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-new-user-wrap' class='float-left'>
			<h3 class='label'>Please provide your email address to join</h3>
			<p>
				<label>Email<br>
					<input type='text' name='email' size='20' value='' class='input'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
			</div>
		</div>
	</script>	
	<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-sep-wrap'>
			<div class="sep-line"></div>
			<h3>OR</h3>
			<div class="sep-line"></div>
		</div>
		<div id='gigya-account-linking-wrap'>
			<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
			<p>
				<label>Email<br>
					<input type='text' size='20' value='' class='input' name='email'>
				</label>
			</p>
			<p>
				<label>Password<br>
					<input type='password' size='20' value='' class='input' name='password'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
			</div>
		</div>
	</script>	
	<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
		<div id='dialog-header'>
			<div class="ui-helper-clearfix">
			<img class='thumbnail' src='${user.thumbnailURL}'/>
			<p class='text'>
				<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
			</p>
			</div>	
		</div>
	</script>
	{%endraw%}
	<!-- End Gigya Templates -->
	<!-- End Gigya -->

	{%block custom_social_meta%}
	<script type="text/javascript">
	var storyTitle = "{{name}}",
		storyURL = "{{url}}",
		leadText = "{{description}}",
		storyIMG = "{{imgURL}}",
		storyAuthor = "{{authors}}",
		twitterTag = "{{twitter}}",
		comments = true,
		share = true;
	</script>
	<script type="text/javascript">OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';</script>
	{%endblock%}

	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/common.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/resrsc/js/biomniture.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/actions.js"></script>

	<!-- START Parse.ly Include: Standard -->
	<div id="parsely-root" style="display: none">
		<div id="parsely-cfg" data-parsely-site="dallasnews.com"></div>
	</div>
	<script>
		(function(s, p, d) {
		var h=d.location.protocol, i=p+"-"+s,
		e=d.getElementById(i), r=d.getElementById(p+"-root"),
		u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
		:"static."+p+".com";
		if (e) return;
		e = d.createElement(s); e.id = i; e.async = true;
		e.src = h+"//"+u+"/p.js"; r.appendChild(e);
		})("script", "parsely", document);
	</script>
	<!-- END Parse.ly Include: Standard -->




</body>
</html>
