<!-- Macros for creating responsive images tags -->

{% macro jpg(filename, alt, class='', id='', sizes='(min-width: 1px) 100vw, 100vw') %}
<img 
    src="static/img/{{filename}}.jpg"
    alt="{{alt}}"
    class="{{class}}"
    id="{{id}}"
    sizes="{{sizes}}"
    srcset="static/img/{{filename}}-320.jpg 320w, static/img/{{filename}}-640.jpg 640w, static/img/{{filename}}-1280.jpg 1280w, static/img/{{filename}}-2400.jpg 2400w"
/>
{% endmacro %}


{% macro png(filename, alt, class='', id='', sizes='(min-width: 1px) 100vw, 100vw') %}
<img 
    src="static/img/{{filename}}.png"
    alt="{{alt}}"
    class="{{class}}"
    id="{{id}}"
    sizes="{{sizes}}"
    srcset="static/img/{{filename}}-320.png 320w, static/img/{{filename}}-640.png 640w, static/img/{{filename}}-1280.png 1280w, static/img/{{filename}}-2400.png 2400w"
/>
{% endmacro %}