/*
______                  _____ _         _           
| ___ \                /  ___| |       | |          
| |_/ / __ _ ___  ___  \ `--.| |_ _   _| | ___  ___ 
| ___ \/ _` / __|/ _ \  `--. \ __| | | | |/ _ \/ __|
| |_/ / (_| \__ \  __/ /\__/ / |_| |_| | |  __/\__ \
\____/ \__,_|___/\___| \____/ \__|\__, |_|\___||___/
                                   __/ |            
                                  |___/             


TABLE OF CONTENTS
-----------------

I     CSS RESET
II    KASON'S TEMPLATE STYLES
III   GLOBAL ARTICLE STYLES
IV    CONTENT HEADER
V     CONTENT WELL
VI    STORY HEAD, BYLINES AND INTRO
VII   SIDE BLOCKS AND INLINE BLOCKS
VIII  IMAGE, WIDE, FULL AND INLINE BLOCKS
IX    PULLQUOTES
X     NDN EMBEDS
XI    YOUTUBE EMBEDS
XII   RELATED LINKS AND FACT BOXES 
XIII  BREAKOUT BOXES
XIV   SLIDESHOWS
XV    CREDIT LINKS
XVI   MORE LINKS
XVII  DROP DOWN BULLETS
XVIII SOCIAL SHARING AND COMMENTS
XIX   ADS

FREQUENTLY USED COLORS 
----------------------

WARM GREY: #CECDC6, rgb(206,205,198); borders
LINK BLUE: #5CA3E6, rgb(92,163,230);
DARK GREY: #797470, rgb(121,116,112);
WARM BLACK: #3D3D3D, rgb(61,61,61); display type
*/


/*
-------------------------------------------
I. CSS RESET
-------------------------------------------
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  line-height: 1;
  z-index: 0;
  position: relative; 
}
ol, ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearFix:after {
  content: "";
  display: table;
  clear: both; 
}

/*
-------------------------------------------
II. KASON TEMPLATE STYLES
-------------------------------------------
*/

.width-auto-hack,
.gig-comments-container {
  width: auto !important;
  margin: 0;
  padding: 0; 
}
.gig-share-bar-container td {
  display: inline-block;
  padding: .5em 0; 
}
.gig-share-bar-container td td {
  display: table-cell;
  padding: 0; 
}

@media print {
  .bg-black {
    position: relative;
  }
}

/*
-------------------------------------------
III. GLOBAL ARTICLE STYLES
-------------------------------------------
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

}
html {
  font-size: 10px;
  color: rgb(33,33,33);
}
article {
  font-family: 'Open Sans', Arial, sans-serif;
  width: 100%;
}
footer p {
  max-width: none;
}
a {
  color: #5CA3E6;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #797470;
}
#content {
  padding: 0rem 0 5rem;
  position: relative;
}
h1, h2, h3, h4 {
  margin-bottom: 1.2rem;
}
h5, h6 {
  margin-bottom: .6rem;
}
h1 {
  font-size: 6rem;
  line-height: 7.2rem;
}
h2 {
  font-size: 4.8rem;
  line-height: 6rem;
}
h3 {
  font-size: 3.6rem;
  line-height: 4.2rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 3rem;
}
h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h6 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: Merriweather, Georgia, Times, serif;
  margin: 0 auto 1.6rem auto;
}


/*
-------------------------------------------
IV. CONTENT HEADER
-------------------------------------------
*/

#contentHeader {
  position: relative;
}
#contentHeader img {
  width: 100%;
  margin-bottom: .3rem;
}
#contentHeader .cutline {
  padding: 0 2rem;
  margin: 0 0 .6rem 0;
}

/*
-------------------------------------------
V. CONTENT WELL
-------------------------------------------
*/

.contentWell {
  font-family: Merriweather, Georgia, Times, serif;
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  width: 90%;
}
.contentWell p {
  max-width: 650px;
}
.contentWell p:last-of-type {
  margin-bottom: 0;
}

/*
-------------------------------------------
VI. STORY HEAD, BYLINES AND INTRO
-------------------------------------------
*/

#storyHead {
  margin: 4.8rem auto 2.4rem auto;
  text-align: center;
  color: #3d3d3d;
}
#storyHead h1 {
  font-size: 6.4rem;
  letter-spacing: -.2rem;
  line-height: 7.6rem;
  margin-bottom: 1.8rem;
}
#storyHead h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
}
#storyHead h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}
.bylineBlock {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 3.6rem;
}
.bylineBlock p {
  color: #3d3d3d;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0 2.4rem .6rem 0;
  text-align: center;
}
.bylineBlock p:last-of-type {
  margin-right: 0;
}
.intro {
  font-size: 2.4rem;
  line-height: 4rem;
}
.dropcap {
  color: #3d3d3d;
  float:left;
  font-size: 15.5rem;
  line-height: 12rem;
  margin: 0rem .5rem 0rem 0;
  padding-top: 0rem;
}
.subhead {
  color: #3d3d3d;
  font-size: 2.4rem; 
  line-height: 3.2rem;
  margin: 4.8rem auto 2.4rem auto;
  max-width: 65rem;
}

@media (max-width: 860px) {
  #storyHead h1 {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin-bottom: 1.8rem;
  }
  #storyHead h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  #storyHead h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .intro {
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
  .dropcap {
    font-size: 12rem;
    line-height: 8rem;
    margin: 2rem .5rem 0 0;
  }
}

@media (max-width: 600px) {
  .bylineBlock p {
    display: block;
    margin: 0 0 .3rem 0;
  }
}

@media (max-width: 500px) {
  #storyHead h1 {
    font-size: 4.2rem;
    line-height: 4.8rem;
    letter-spacing: 0;
  }
  .intro {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .dropcap {
    font-size: 10rem;
    line-height: 7.6rem;
  }
}

/*
-------------------------------------------
VII. SIDE BLOCKS & INLINE BLOCKS
-------------------------------------------
*/

.sideBlock {
  max-width: 400px;
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
}
.inlineBlock {
  max-width: 650px;
  width: 100%;
  margin: 4.8rem auto;
  font-family: 'Open Sans', Arial, sans-serif;
}
.sideBlock p, .inlineBlock p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.sideBlock h4, .sideBlock h5, .sideBlock h6, .inlineBlock h4 {
  font-weight: bold;
  color: #3d3d3d;
}
.sideBlock img, .inlineBlock img {
  margin: 0 0 .3rem 0;
  width: 100%;
}
.rightBlock {
  float: right;
  margin: 0 0 4.8rem 4.8rem;
}
.leftBlock {
  float: left;
  margin: 0 4.8rem 4.8rem 0;
}
p.source {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #797470;
  font-family: 'Open Sans', Arial, sans-serif;
}

@media (max-width: 740px) {
  .rightBlock, .leftBlock {
    float: none;
    margin: 4.8rem auto 4.8rem;
    width: 100%;
    max-width: 65rem;
  }
  .graphicBlock {
    max-width: 40rem;
  }
}

/*
-------------------------------------------
VIII. IMAGE, WIDE, FULL AND INLINE BLOCKS
-------------------------------------------
*/
.cutline {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #797470;
  font-weight: normal;
} 
.imageBlock {
  width: 100%;
}
.imageBlock img {
  margin-bottom: .3rem;
  width: 100%;
}
.wideBlock, .fullBlock {
  margin: 4.8rem auto;
}
.wideBlock p.cutline {
  max-width: none;
}
.fullBlock p.cutline {
  padding: 0 2rem;
}


.doubleBlock img {
  float: left;
  margin-right: 2%;
  width: 49%;
}

.doubleBlock img:last-of-type {
  margin-right: 0;
}

@media (max-width: 740px) {
  .doubleBlock img {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}


/*
-------------------------------------------
IX. PULLQUOTES
-------------------------------------------
*/

.pullquote {
  border-top: 1px solid #CECDC6;
  border-bottom: 1px solid #CECDC6;
  font-size: 2.4rem;
  line-height: 4.8rem;
  padding: 2.4rem 0;
  text-align: left;
}
.pullquote blockquote {
  margin-bottom: 2.4rem;
  font-family: Merriweather, Georgia, Times, serif;
  color: #3D3D3D;
}
.pullquote p.attribution {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #797470;
  max-width: none;
  text-align: right;
}
.pullquote p.attribution:before {
  content: '— ';
}

@media (max-width: 600px) {
  .pullquote {
    font-size: 2rem;
    line-height: 3rem;
  }
}


/*
-------------------------------------------
X. NDN EMBEDS
-------------------------------------------
*/

.ndn_embed {
  margin: 4.8rem auto;
  max-width: 650px;
  min-height: 170px;
  position: relative;
  width: 100%;
  z-index: 0;
}
.ndn_embed p {
  font-family: Arial, sans-serif !important;
}


/*
-------------------------------------------
XI. YOUTUBE EMBEDS
-------------------------------------------
*/

.videoBlock {
  width:100%;
  max-width: 650px;
  margin: 4.8rem auto;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe, .videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
-------------------------------------------
XII. RELATED LINKS AND FACT BOXES
-------------------------------------------
*/

.relatedLinks a {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;  
  margin-bottom: 1.8rem;
}
.relatedLinks a:last-child {
  margin-bottom: 0;
}

@media (max-width: 740px) {
  .relatedLinks, .factBox {
    border-bottom: 1px solid #CECDC6;
    border-top: 1px solid #CECDC6;
    padding: 2.4rem 0;    
  }
}


/*
-------------------------------------------
XIII. BREAKOUT MODULES
-------------------------------------------
*/

.breakoutModule {
  margin: 4.8rem auto;
  width: 100%;
}
.breakoutModule h5 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
}
.breakoutModule img {
  margin-bottom: .3rem;
  width: 100%;
}
.breakoutModule p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.breakoutBox {
  float: left;
  margin-right: 2%;
}
.breakoutBox:last-child {
  margin-right: 0;
}
.twoAcross .breakoutBox {
  width: 49%;
}
.threeAcross .breakoutBox {
  width: 32%;
}
.fourAcross .breakoutBox {
  width: 23.5%;
}

@media (max-width: 740px) {
  .breakoutModule {
    border-bottom: 1px solid #CECDC6;
    border-top: 1px solid #CECDC6;
    margin: 4.8rem auto;
    padding: 2.4rem 0;
  }
  .breakoutModule img {
    float: left;
    margin-right: 1rem;
    width: 50%;
  }
  .twoAcross .breakoutBox, .threeAcross .breakoutBox, .fourAcross .breakoutBox {
    margin-bottom: 1.2rem;
    float: none;
    width: 100%;
  }
  .breakoutBox:last-child {
    margin-bottom: 0;
  }
}

/*
-------------------------------------------
XIV. SLIDESHOWS
-------------------------------------------
*/


.slideshow {
  margin: 4.8rem auto;
  max-width: 1400px;
}
.slideshow h5 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #797470;
}
.slideContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slide {
  float: left;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  width: 100%;
}
.slide .cutline {
  max-width: none;
}
.slideButton {
  background-color: white;
  cursor: pointer;
  display: block;
  height: 5rem;
  opacity: .8;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  width: 5rem;
}
.slideButton:hover {
  opacity: 1;
}
.nextButton {
  right: 0;
}
.slide img {
  width: 100%;
}
.current {
  margin-left: 0;
  opacity: 1;
  position: relative;
}
.preSlide {
  margin-left: 100%;
  opacity: 1;
}
.postSlide {
  margin-left: -100%;
  opacity: 0;
}

@media (max-width: 600px) {
  .slideButton {
    width: 3rem;
    height: 3rem;
  }
}


/*
-------------------------------------------
XV. CREDIT LINKS
-------------------------------------------
*/

.credits {
  border-bottom: 1px solid #CECDC6;
  margin: 6rem auto 0;
  max-width: 650px;
  padding-bottom: 2.4rem;
}
.credits p {
  display: block;
  float: left;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 2rem 0rem 0;
}
.credits a {
  color: #3d3d3d;
  font-weight: bold;
}

/*
-------------------------------------------
XVI. MORE LINKS
-------------------------------------------
*/

.more {
  border-bottom: 1px solid #CECDC6;
  margin: 4.8rem auto 6rem;
  max-width: 650px;
  padding-bottom: 2.4rem;
}
.more h5, .more p, .more a {
  font-family: 'Open Sans', Arial, sans-serif;
}
.more h5 {
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.more a {
  color: #3d3d3d;
  display: block;
  float: left;
  margin-right: 5%;
  width: 30%;
}
.more a:hover {
  text-decoration: none;
}
.more a:last-child {
  margin-right: 0;
}
.more a img {
  margin-bottom: .3rem;
  width: 100%;
}
.more a p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: normal;
}

@media (max-width: 600px) {
  .more a {
    float: none;
    margin: 0 0 2.4rem; 
    width: 100%;
  }
  .more a img {
    float: left;
    width: 33%;  
  }
  .more a h6, .more a p {
    float: right;
    width: 65%;
  }
  .more a h6 {
    margin-top: -.3rem;
  }
}

/*
-------------------------------------------
XVII. DROP DOWN LIST
-------------------------------------------
*/

.fa-twitter{
  color: #5CA3E6;
  cursor: pointer;
  transition: color .25s ease-out;
}
.dropList .dropHed {
  cursor: pointer;
}
.dropList .dropItem {
  background-color: rgb(240,240,240);
  border-radius: 2px;
  margin-bottom: .6rem;
  padding: 1rem;
}
.dropList .dropHed span.cardinal {
  background-color: #A8A8A8;
  border-radius: 50%;
  color: white;
  float: left;
  font-size: 1.8rem;
  height: 2.4rem;
  letter-spacing: -1px;
  line-height: 2.2rem;
  margin-right: 1rem;
  text-align: center;
  text-indent: -1px;
  width: 2.4rem;
}
.dropList .dropHed h5 {
  float: left;
  margin-bottom: 0;
  width: calc(100% - 7rem);
}
.dropList .dropHed .fa{
  color: #5CA3E6;
  float: right;
  font-size: 2rem;
  line-height: 2.4rem;
  margin:0 1rem;
}
.dropList .dropText {
  display: none;
  padding: 1rem 4rem 1rem 3.4rem;
}
.dropList .expandedText {
  display: block;
}
.dropList p.dropText {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/*
-------------------------------------------
XVIII. SYNOPSIS BOXES
-------------------------------------------
*/

.synopsis {
  border-bottom: 1px solid #CECDC6;
  padding-bottom: 2.4rem;
}

.synopsis h6 {
  margin-bottom: .9rem;
  font-weight: bold;
  color: #3d3d3d;
  text-transform: uppercase;
}
.synopsis p {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: .9rem;
  color: #797470;
  cursor: pointer;
}


/*
-------------------------------------------
XIX. SOCIAL SHARING AND COMMENTS
-------------------------------------------
*/

.shareComments {
  margin: 4.8rem auto;
  max-width: 65rem;
}
.shareCommentsTop {
  max-width: none;
  width: auto;
}
.shareCommentsTop table {
  margin: 0 auto;
}

.gig-counter {
  margin-top: 6px !important;
}
.gig-bar-container img {
  margin-right: .5rem;
  width: 9rem;
}
#comments {
  margin-top: 4.8rem;
}

@media (max-width: 860px) {
  .shareComments {
    margin: 2.4rem auto 4.8rem;
  }
  .shareCommentsTop {
    max-width: 46rem;
  }
  .gig-bar-container img {
    width: 65px;
    margin-right: 0;
  }
}

/*
-------------------------------------------
XX. ADS
-------------------------------------------
*/

.ad {
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  margin: 4.8rem 0;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  z-index: 0; }

.noRule {
  border-bottom: none !important;
  border-top: none !important; }

.ad * {
  margin: 0 auto !important; }

.ad p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem !important; }



