<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
  <% _.each(fonts, function( font ) { %>
    <link rel="stylesheet" href="<%- font %>">
  <% }); %>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>

    <div id="embed__container">
      <div class="embed__chatter">
        <h4>Embed title</h4>
        <p>Chatter text</p>
      </div>
      <div class="embed__content">

        <!-- !!!!!!! The rest of your content goes here !!!!!!! -->

        <p class="source">Source goes here</p>
        <p class="credit">Credit goes here</p>
      </div>
    </div>

    <script src="js/scripts.js"></script>
    <script src="https://interactives.dallasnews.com/common/scripts/embed-tracker/embed-tracker.min.js"></script>
  </body>
</html>
