<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{pageTitle}}</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/dependency-bundle.css" />
		<link rel="stylesheet" type="text/css" href="css/styles-bundle.css" />
    </head>
    <body>
    	<h1>Make Graphiq!</h1>
    	<div id="chart"></div>



    	<script src="js/dependency-bundle.js"></script>
		<script type="text/javascript" src="js/scripts-bundle.js"></script>
    </body>
</html>