// -----------------------------------------------------------------------------
// OOYALA CODE
// -----------------------------------------------------------------------------

.video-block {
  width: 55%;
  margin: 4.8rem 0;
  font-size: 15px;
  img {
    max-width: 170px !important;
    max-height: 18px !important;
  }
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe, .video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .video-block {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .video-block {
    margin: 2.4rem 0;
  }
}

@media (max-width: 681px) {
  .video-block {
    img {
      max-width: 130px !important;
    }
  }
}

@media (max-width: 500px) {
  .video-block {
    img {
      max-width: 80px !important;
      max-height: 14px !important;
    }
  }
}

.oo-state-screen-info {
  font-size: 1.6rem !important;
}

.oo-state-screen-description {
  font-size: 1.1rem !important;
}

.oo-player-container {
  min-width: 0px !important;
}

.oo-state-screen-title, .oo-state-screen-description {
  max-width: 90% !important;
}
