@import '../../node_modules/normalize.css/normalize';

@import 'mixins';
@import 'variables';
@import 'base';

html.embedded, html {
  // Applied when embedded using Pym.js
  font-size: 10px;
}

body {
  // This helps Pym.js more more accurately measure our <body>
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

.source, .credit {
  @include type(1.2rem, 1.5rem, .6rem);
}

.credit {
  text-align: right;
}


// NOTE!!!! If you need ooyala code, add @import 'ooyala';  to your list of imports above

// Your styles go here
